# SPDX-License-Identifier: GPL-2.0-only
config SENSORS_SSC
	bool "Enable Sensors Driver Support for SSC"
	help
	  Add support for sensors SSC driver.
	  This driver is used for exercising sensors use case,
	  time syncing with ADSP clock.
	 
config INPUT_CM3323E
	tristate "CM3323E RGB color sensor"
	depends on I2C
	help
	  Say Y here to enable the CM3323E RGB Color Sensor.

config INPUT_TCS3400
	tristate "AMS TCS3400 RGB color sensor"
	depends on I2C
	help
	  Say Y here to enable the TCS3400 RGB Color Sensor.	
